{% extends "base_index.html" %}

{% block title %}Main Page{% endblock %}

{% block header %}
<h1>Bem-vindo, {{ user[1] }}!</h1>
<p style="color: rgb(255, 255, 255);">Aqui podes gerir as tuas informações pessoais e realizar algumas ações.</p>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card user-info p-4">
        <h2 style="color: orange;">
            Informações de Utilizador
            <div class="float-end">
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Sair</a>
            </div>
        </h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Nome:</strong> {{ user[1] }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ user[2] }}</li>
            <li class="list-group-item"><strong>Número de Telemóvel:</strong> {{ user[3] }}</li>
            <li class="list-group-item"><strong>Nacionalidade:</strong> {{ user[5] }}</li>
            <li class="list-group-item"><strong>Idade:</strong> {{ user[6] }}</li>
            <li class="list-group-item"><strong>Descrição:</strong> {{ user[7] }}</li>
        </ul>
    </div>
</div>

<div class="container mt-4">
    <div class="card user-info p-4">
        <h2 style="color: black;">Ações</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{ url_for('update_info') }}" class="btn btn-primary">Atualizar
                    Informações</a></li>
            <li class="list-group-item"><a href="{{ }}" class="btn btn-primary">Ver Amigos</a>
            </li>
            <li class="list-group-item"><a href="{{ url_for('become_rent') }}" class="btn btn-primary">Ser arrendador</a>
            </li>
            <li class="list-group-item"><a href="{{ url_for('delete_account') }}" class="btn btn-danger">Excluir
                    Conta</a></li>
        </ul>
    </div>
</div>
{% endblock %}