<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data e Hora</th>
            <th>Campo</th>
            <th>Número de Jogadores</th>
            <th>Resultado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for match in matches %}
        <tr>
            <td>{{ match.ID }}</td>
            <td>{{ match.Data_Hora }}</td>
            <td>{{ match.Campo }}</td>
            <td>{{ match.no_jogadores }}</td>
            <td>{{ match.Resultado }}</td>
            <td>
                <a href="{{ url_for('admin.edit_match', match_id=match.ID) }}" class="btn btn-primary">Editar</a>
                <a href="{{ url_for('admin.delete_match', match_id=match.ID) }}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>