body {
    background-color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

.nav-tabs .nav-link.active {
    background-color: #000000; /* Bootstrap primary blue */
    color: rgb(255, 123, 0) !important;
}

.nav-tabs .nav-link {
    color: #495057; /* Texto padrão */
}

.card {
    background-color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

.form-switch {
    text-align: center;
    margin-bottom: 20px;
}

.form-wrapper {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

.form-wrapper.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(255, 132, 0, 0.814);
}

.btn-primary {
    background-color: #ff8400;
    color: black;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: black;
    color: orange;
    transform: scale(1.02);
}

.btn-primary:active {
    background-color: black;
    color: orange;
    transform: scale(0.95);
}
.btn-primary:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(255, 132, 0, 0.814);
}

.btn-primary:active:focus {
    outline: none;
    border: none;
    background-color: black;
    color: orange;
    box-shadow: 0 0 5px rgba(255, 132, 0, 0.814);
}
.btn-primary:focus-visible {
    outline: none;
    border: none;
    background-color: black;
    color: orange;
    box-shadow: 0 0 5px rgba(255, 132, 0, 0.814);
}
